<div class="banner"> 
    <div class="display">
        <h3>Projects</h3>
    </div>
 </div>

 <!-- project details -->
 <div class="container mt-5 mb-5 service">
    <h2 class="text-center">Services</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="step-box">
                <img src="../../../assets/images/proj1.PNG">
            <h2>Web Design</h2>
            <a href="#"><p>Read More</p></a>
             </div>
        </div>
        <div class="col-lg-4">
                <div class="step-box">
                    <img src="../../../assets/images/proj2.PNG">
                <h2>Web Development</h2>
                <a href="#"><p>Read More</p></a>
                </div>
        </div>
        <div class="col-lg-4">
                <div class="step-box">
                    <img src="../../../assets/images/proj3.PNG">
                <h2>App Development</h2>
                <a href="#"><p>Read More</p></a>
                </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5 service">
    <h2 class="text-center">Services</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="step-box">
                <img src="../../../assets/images/proj4.PNG">
            <h2>Web Design</h2>
            <a href="#"><p>Read More</p></a>
             </div>
        </div>
        <div class="col-lg-4">
                <div class="step-box">
                    <img src="../../../assets/images/proj5.PNG">
                <h2>Web Development</h2>
                <a href="#"><p>Read More</p></a>
                </div>
        </div>
        <div class="col-lg-4">
                <div class="step-box">
                    <img src="../../../assets/images/proj2.PNG">
                <h2>App Development</h2>
                <a href="#"><p>Read More</p></a>
                </div>
        </div>
    </div>
</div>