<div class="banner">
    <div class="content">
    <h4 class="mb-3">Skilled Full Stack Developer</h4>
    
        <div class="col-lg-8">
            <P class="home-p">In the world of software programming, it helps to have someone on the team who is something 
                of a jack of all trades. They can help with various stages of development and have the versatility and time 
                management to assist all levels of the development team. When it comes to web development, that role belongs 
                to the Full Stack Developer. This is not a Back End or Front End developer, but someone who handles 
                both — a “Full Stack,” as it were.</P>
            </div>  
            <a routerLink="contact">Hire Me</a> 
        </div>
</div>

<!-- services area -->
<div class="container mt-5 mb-5 service">
    <h6>What I Do</h6>
    <h1 class="text-center">Services</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="step-box">
                <img src="../../../assets/images/webdes.PNG">
            <h1>Web Design</h1>
            <a href="#"><p>Read More</p></a>
             </div>
        </div>
        <div class="col-lg-4">
                <div class="step-box">
                    <img src="../../../assets/images/wedev.PNG">
                <h1>Web Development</h1>
                <a href="#"><p>Read More</p></a>
                </div>
        </div>
        <div class="col-lg-4">
                <div class="step-box">
                    <img src="../../../assets/images/app.PNG">
                <h1>App Development</h1>
                <a href="#"><p>Read More</p></a>
                </div>
        </div>
    </div>
</div>
<!-- services area ends here -->

<!-- testimony area starts here -->
<div class="container">
  <h1 class="text-center">Testimonials</h1>
<div class="carousel-box">
<!-- carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p> The decision was made to proceed with the part of the centralized analytics solution, 
        covering invoicing. We also asked ScienceSoft to automate the invoicing process. To fulfil the task, 
        we engaged ScienceSoft’s team of a business analyst, a solution architect, two database developers, 
        a front-end developer and two quality assurance engineers.</p>
   
    </div>
    <div class="carousel-item">
      <p> ScienceSoft’s team members proved to be extremely flexible and responsive. They stayed in daily contact with us, which allowed us to adjust the scope of works promptly and implement new requirements on the fly. Additionally, the team delivered demos every other week so that we could be sure that the invoicing system aligned with our business needs.</p>
      
    </div>
    <div class="carousel-item">
      
      <p> The invoicing system created by ScienceSoft automates data integration from different sources, invoice generation, and provides visibility into the invoicing process. We have already engaged ScienceSoft in supporting the solution and would definitely consider ScienceSoft as an IT vendor in the future</p>
    </div>
  </div>
</div>
<!-- carousel -->
</div>
</div>
<!-- testimony area ends here -->