<title>{{title}}</title>

<div class="banner"> 
    <div class="display">
        <h2>Contact</h2>
    </div>
 </div>

<div class="container">
<div class="my-text">
    <h2>Contact Me</h2>
</div>
<div class="col-md-12 contact-us">
 <h5>Feel free to contact me</h5 >
<div class="row">
    <div class="col-md-6 contact-det">
        <input class="form-control" type="text" placeholder="Name"><br>
        <input class="form-control" type="text" placeholder="Subject"><br>
        <input class="form-control" type="text" placeholder="email"><br>
        <textarea rows="4" cols="50" placeholder="Your Message"></textarea><br>
        <button class ="btn btn-primary smooth-scroll"> Submit</button>
    </div>
    <div class="col-md-6">
        <h4 class="my-details">Phone</h4>
        <h6 class="my-details">+91 9995 58 6954</h6>
        <br>
        <h4 class="my-details" >Email</h4>
        <h6 class="my-details">anilaryaa1006@gmail.com</h6>
    </div>
</div>
</div>
</div>