 <div class="banner"> 
    <div class="display">
        <h3>About</h3>
    </div>
 </div>

<div class="card-body container">
    <div class="col-lg-12 about">
        <div class="row">
            <div class="col-lg-6">
                <h3>About Me</h3>
                <p>
                    The invoicing system created by ScienceSoft automates data integration from different sources, invoice generation, and provides visibility into the invoicing process. We have already engaged ScienceSoft in supporting the solution and would definitely consider ScienceSoft as an IT vendor in the future
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Basic Infromation</h3>
                <p class="main">Date Of Birth : xx-xx-xxxx</p>
                <p class="main">Email : xx@xx.com</p>
                <p class="main">Mobile : XX-XX-XX-XXXX</p>
            </div>
        </div>
    </div>
</div> 